.App {
  text-align: center;
}
/* #title {
  
} */
/* --Activity2-- */
/* h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  justify-content: space-between;
} */

/* --Activity3-- */

/* h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  margin-right: 20px;
}
h3 {
  display: flex;
  flex-direction: row;
  align-items: content;
  font-size: 15px;
  text-wrap: wrap;
  justify-content: space-around;
} */
/* --Activity7-- */
body {
  margin: 0 40px;
}
h1 {
  color: red;
}
h2 {
  background-color: aqua;
}
p {
  /* text-decoration-line: underline; */

  background-color: blanchedalmond;
}

h3 {
  background-color: plum;
}
h4 {
  background-color: aquamarine;
}
